body{
  background-color: #fff;
  font-family: "Afacad", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #000;
}
@media only screen and (min-width: 1440px) {
body{
    font-size: 20px;
}
}